export(mlcm, mlcm.default, mlcm.formula,
	make.wide, make.wide.full,
	boot.mlcm, binom.diagnostics,
	as.mlcm.df)
S3method(mlcm, default)
S3method(mlcm, formula)
S3method(fitted, mlcm)
S3method(formula, mlcm)
S3method(plot, mlcm)
S3method(lines, mlcm)
S3method(points, mlcm)
S3method(plot, mlcm.df)
S3method(plot, mlcm.diag)
S3method(predict, mlcm)
S3method(print, mlcm)
S3method(print, summary.mlcm)
S3method(summary, mlcm)
S3method(logLik, mlcm)
S3method(anova, mlcm)
S3method(coef, mlcm)
S3method(vcov, mlcm)


importFrom("grDevices", "grey")
importFrom("graphics", "abline", "axis", "box", "hist", "image",
               "lines", "matlines", "matplot", "matpoints", "par", "plot")
importFrom("stats", "AIC", "anova", "as.formula", "binomial", "coef",
               "fitted", "formula", "glm", "glm.control", "glm.fit",
               "logLik", "model.matrix", "optim", "pchisq", "predict",
               "rbinom", "residuals", "sd", "vcov")