export(mlcm, mlcm.default, mlcm.formula,
	make.wide, make.wide.full,
	boot.mlcm, binom.diagnostics)
S3method(fitted, mlcm)
S3method(plot, mlcm)
S3method(plot, mlcm.df)
S3method(plot, mlcm.diag)
S3method(print, mlcm)
S3method(print, summary.mlcm)
S3method(summary, mlcm)
S3method(logLik, mlcm)
S3method(anova, mlcm)
S3method(coef, mlcm)
S3method(vcov, mlcm)


